#!/usr/bin/env bash
LASTFM_KEY=API_KEY_PROVIDED_BY_LASTFM
LASTFM_USER=A_LAST_FM_USERNAME
MM_KEY=SOME_MUSIXMATCH_API_KEY

export LASTFM_KEY=${LASTFM_KEY}
export LASTFM_USER=${LASTFM_USER}
export MM_KEY=${MM_KEY}
python3 run.py
